doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='technical blogs on UI development and other stuff')
		meta(name='author', content='ssinha')
		title #{data ? data.global.header.title: ''}

		link(href='/styles/bootstrap.css', rel='stylesheet')
		link(rel='icon', type='image/x-icon', href='/favicon.ico')
	body

		blog(init-data= data)
			span(class='loading') Please wait...
