doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='technical blogs on UI development and other stuff')
		meta(name='author', content='ssinha')
		title SaberBlogs

		link(href='styles/bootstrap.css', rel='stylesheet')
	body

		blog please wait...

		script(src='scripts/jquery.min.js')
		script(src='scripts/bootstrap.min.js')

		script(src='app/node_modules/zone.js/dist/zone.min.js')
		script(src='app/node_modules/reflect-metadata/Reflect.js')
		script(src='app/node_modules/systemjs/dist/system.src.js')
		script(src='app/system.config.js')
		script.
			System.import("app").catch(function(err){
				console.error(err);
			});
